html, body {
    height: 100%;
}

.form-login,
#alert-login{
    max-width: 390px;
    width: 100%;
}

#alert-login{
    height: 10%;
    position: fixed;
    z-index: 5;
}

.icon-link.top{
    transition: bottom .3s;
    bottom: 85% !important;
}

.icon-link.bottom{
    transition: bottom .3s;
    bottom: 100% !important;
}